

.back_fixed {
    background-image:url(/images/bg_fixed.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebe5e4;
}

.icon-searchengin {
    position: absolute;
    top: 11px;
    font-size: 22px;
    left: 14px;
    color: #ffffffbf;
}

.back_fix_rotate {
    /* position: relative;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); */

    background-image:url(/images/back_rotated.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}




#right-side {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 32px;
    top: 332px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
	z-index: 13;
}

#top-side-btns {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: center;
}

#top-side-btns a i {
    transition: all 0.3s;
}

#top-side-btns a:hover i {
    color: #8e9ed4;
}

#top-side-btns li {
    margin-left: 10px;
}


.home_link ,
.faq_link,
.regis_link,
.login_link,
.logout_link {
    padding: 9px 15px;
    /* border: 1px solid blue; */
    border-radius: 50%;
    font-size: 17px;
    background-color: #0f1841;
    color: white;
    margin-bottom: 5px;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px grey;
    cursor: pointer;

}

#top-side-btns div {
    padding: 2px 7px;
}

/* .home_link a,
.faq_link a,
.regis_link a,
.login_link a,
.logout_link a {
    color: white;
}

.home_link:hover a,
.faq_link:hover a,
.regis_link:hover a,
.login_link:hover a,
.logout_link:hover a {
    color: #474747;
} */

#right-side .right-side-a {
    color: white;

}

#right-side a i {
    transition: all 0.3s;
}

#right-side a:hover i {
    color: #8e9ed4;
}




#top-langs {
    position: absolute;
    right: -102px;
    top: 31px;
    width: 106px;
}

#top-langs ol li a {
    color: #d5dedf;
    transition: all 0.3s;
}

#top-langs ol li a:hover {
    color: #8e9ed4;
}

#top-langs .lang-divider {
    color:#bfbfbf;
    padding-left: 4px;
}

#logo .burger2 {
    align-self: stretch;
    transition: all .4s ease-out;
    padding: 0 1.5rem 0 1.5rem;
    outline: 0;
    border: 0;
    font-weight: bold;
    color: #404040;
    font-size: 1.3rem;
    position: absolute;
    bottom: 5px;
    left: 2px;
    z-index: 120;
    display: none;
}



.subs-response {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    /* display: flex; */
    display: none;
    padding: 17px 15px 2px 15px;
    background-color: #0f184170;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 200;
    width: 100%;
}

.subs-response button.close.close-subs-note {
    left: unset;
    bottom: unset;
    right: -5px;
}

/* 620*/


/* 575.98 */
#our-pagination {
    display: flex;
}

a.ff {
    color: #555555;
}

a.ff:hover {
    color: #666666;
}

/* single post -add slash to firts, and none from active */
.breadcrumb.own .breadcrumb-item-first::after {
    display: inline-block;
    /* padding-right: .5rem; */
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item + .breadcrumb-item.active::before {
    display: none;
}

/* նոր մենյու վերևի համար */
.large-lang-menu {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 2px;
    align-items: center;
    justify-content: center;
    background-color: #262d51;
    border-bottom: 1px solid #262d51;
}

.large-lang-menu li.breadcrumb-item1 a {
    font-size: 15px;
    color: white;
    transition: all 0.5s;
}

.large-lang-menu li.breadcrumb-item1 a:hover {
    color: #8e9ed4;
}
.large-lang-menu li.breadcrumb-item1 a:hover .lang-divider {
    color: white;
}
.lang-divider:hover {
    color: white;
}
/* նոր մենյու վերևի համար */






@media (max-width: 991.98px) {
    .large-lang-menu {
        background-color: #0f1841;
    }
    #top-langs {
        position: absolute;
        right: -35px;
        top: -56px;
        width: 106px;
        z-index: 121;
    }

    #gotoTop {
        display: none!important;
    }



}

@media (max-width: 767.98px) {
    #right-side {
        display: none;
    }

    #top-bar {
        display: block;
        top: -48px;
        transform: translateX(-56%);
    }
    .hidden-links {
        left: 59%;
        transform: translateX(-50%);
        width: 113%;
        top: 101%;
        overflow: hidden;
    }
    .back_fixed {
        background-image: none;
    }
}


/* @media (max-width: 620px) {
    .subs-response {
        width: 82%;
    }
} */


@media (max-width: 575.98px) {
    #logo .burger2 {
        display: block;
    }
}


@media (max-width: 460px) {
    #top-bar {
        transform: translateX(-62%);
    }

    /* .subs-response {
        width: 95%;
    } */
}

@media (max-width: 390px) {
    #top-bar {
        transform: translateX(-65%);
    }

    /* #top-side-btns li {
        margin-left: 0;
        margin-right: 10px;
    } */
}

@media (max-width: 360px) {
    #top-side-btns  div {
        font-size: 14px;
    }
    #top-side-btns div.faq_link {
        padding: 2.5px 9px!important;
    }
    #top-bar {
        top: -45px;
    }
}

nav.greedy .links li:last-child {
    border-right: none;
    margin-right: 20px;
}


/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

    #right-side {
        top: 155px;
    }

    #top-search form {
        width: 90% !important;
    }

    .scw-switcher-wrap {
        top: 216px;
        left: 20px;
        right: unset;
    }

}





