
html, body,
h1, h2, h3, h4, h5, h6,
h4.own-h4,
.font-primary,
#logo,
#primary-menu ul li > a,
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a,
#top-search form input ,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
ul.tab-nav-lg li a,
.counter,
label,
.widget-filter-links li a,
.nav-tree li a,
.wedding-head .and, .wedding-head .first-name, .wedding-head .last-name

{
    font-family: 'Lato', sans-serif !important;
}

body p,
.entry-post-html {
    font-size: 15px;
    line-height: 1.6;
}

body h3 {
    font-size: 20px !important;
}
